* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: #AA076B;
  background: linear-gradient(to right, #0F2027, #203A43);
}

.react-chatbot-kit-chat-container {
  width: 350px;
}
.react-chatbot-kit-chat-bot-message {
  margin-left: 10px;
  background-color: #322d2d;
}
.react-chatbot-kit-chat-bot-message-arrow {
  border-right: 8px solid #322d2d;
}

.react-chatbot-kit-chat-btn-send {
  background-color: #322d2d;
  border-bottom-right-radius: 4px;
}

  .react-chatbot-kit-chat-input-container {
    display: none;
  }


.react-chatbot-kit-user-chat-message {
  background-color: #cecece;
  font-weight: 600;
  color: rgb(51, 47, 47);
}
.react-chatbot-kit-user-chat-message-arrow {
  border-left: 8px solid #cecece;
}

.react-chatbot-kit-user-avatar-container {
  background-color: #00536e;  
}

.react-chatbot-kit-chat-message-container {
  overflow: hidden;
}

.showfoot{
  margin: 0 auto;
  text-align: center;
}

.dash{
  font-size: 1rem;
   font-weight: bold;
}

.counter {
  color: rgb(0, 135, 117);
  padding-bottom: 4px;
}