.enroll{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.enrollhead{
    font-size: 2.5em;
    color: white;
    margin-bottom: 1rem;
}

.enrollbutton{
  padding: 1em;
  background-color: black;
  color: white;
  border-radius: 10px;
  font-size: 1.1rem;
  cursor: pointer;
}
